<link rel="stylesheet" href="/css/postList.css" />
<div class="post-list-cont" style="display: flex;">
  <%for(p of posts){%>
    <%if(p.avatar){%>
  <div class="post-cont">
    <%}else{%>
      <div class="post-cont-2">
      <%}%>
    <img
      src="<%=p.user.avatar%>"
      alt="<%=p.user.username%>"
      width="40px"
      height="40px"
      style="border-radius: 50%"
      class="avatar"
    />
    <a href="/user/profile/<%=p.user.id%>"><span class="post-user-name"><%=p.user.username%></span></a>
    <%if(locals.user && locals.user.id==p.user.id){%>
    <span class="options-button" onclick="toggle('<%=p.id%>')">...</span>
    <%}%>
    <div class="post-content"><%=p.content%></div>
    <%if(p.avatar){%><img src="<%=p.avatar%>"  style="height:230px; width:230px;" class="post-image"/><%}%>
    
    <form action="/post/destroy/<%=p.id%>" method="POST" id="delete-popup-<%=p.id%>" class="delete-popup">
      <button class="delete-post-button">delete post</button>
    </form>
    
  </div>

  <%}%>
</div>
<script>
  function toggle(postID) {
    let idStart="delete-popup-";
    var popup = document.getElementById(idStart.concat(postID));
    popup.classList.toggle("active");
  }
</script>
