<link rel="stylesheet" href="/css/home.css" />

<%-include('./_navbar.ejs') %>
<div>
  <%-include('./_createPost.ejs') %>
  <%-include('./_postList.ejs') %>

  <section id="users">
    <h2 class="user-heading">Users</h2>
    <% for(u of users){%>
        <div class="user-users">
    <img
      src="<%=u.avatar%>"
      alt="<%=u.username%>"
      width="40px"
      height="40px"
      style="border-radius: 50%"
      class="avatar"
    />

    <a href="user/profile/<%=u.id%>" class="users-name"><%=u.username%></a><br />
</div>
    <%}%>
  </section>
</div>
